PORT=5000
MONGO_URI=mongodb+srv://huzafarehman123_db_user:2W2b7ef6eGBHJhi7@cluster0.feuexhu.mongodb.net/?appName=Cluster0
JWT_SECRET=ZW<p0!zQGu-&Yj%enf3mMse%;FZzpuqvl|Lr^q@3Ps/
JWT_EXPIRES_IN=7d
CLIENT_URL=https://school-management-system-sooty-seven.vercel.app/