PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/bright_future_school
JWT_SECRET=ZW<p0!zQGu-&Yj%enf3mMse%;FZzpuqvl|Lr^q@3Ps/
JWT_EXPIRES_IN=7d
CLIENT_URL=https://school-management-system-sooty-seven.vercel.app/
